* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 13px;
  color: #ffffff;
  background: #1e1e2e;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#i3 {
  padding: 0 10px;
}

#clock {
  color: #f38ba8;
}

#network {
  color: #89dceb;
}

#pulseaudio {
  color: #a6e3a1;
}

#cpu {
  color: #fab387;
}

#memory {
  color: #f9e2af;
}
